@model MeniconHelper.task

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/Styles/header.css")
    @Styles.Render("~/Content/Styles/ticket.css")
    <script>
        $(document).ready(function () {
            $(window).on('resize', function () {
                var windowHeight = $(window).height() - $('header').height();
                var informationsHeight = windowHeight * 0.70;
                var commentsHeight = windowHeight * 0.30 - 1;
                var listCommentsHeight = windowHeight - commentsHeight - $('h2').height() + 25;
                $('.ticket').css({ 'height': windowHeight });
                $('.informations').css({ 'height': informationsHeight });
                $('.comments').css({ 'height': commentsHeight });
                $('.left-panel').css({ 'border-right': '1px solid black' });
                $('.comments').css({ 'border-top': '1px solid black' });
                $('nav').css({ 'height': listCommentsHeight });
                $('nav ul').css({ 'height': listCommentsHeight });
            }).resize();
            $(document).click(function (e) {
                if ($('.menu').css('display') == 'flex' && $(e.target).closest('.button-menu').length === 0 && $(e.target).closest('.menu').length === 0) {
                    $('.menu').css({ 'display': 'none' });
                    $('.button-menu img').css({ 'transform': 'rotate(0deg)' });
                }
            });
            $('.button-menu img').click(function () {
                if ($('.menu').css('display') == 'none') {
                    $('.menu').css({ 'display': 'flex' });
                    $('.button-menu img').css({ 'transform': 'rotate(-90deg)' });
                } else {
                    $('.menu').css({ 'display': 'none' });
                    $('.button-menu img').css({ 'transform': 'rotate(0deg)' });
                }
            });
        });
    </script>
</head>
<body>
    <header>
        <div class="logo"><img src="../Content/Images/Logo.png" /></div>
        <div><h1>Menicon Helper</h1></div>
        <div class="button-menu"><img src="../Content/Images/Menu.png" /></div>
        <div class="menu">
            <ul>
                <a href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i><li>@GlobalRes.home</li></a>
                <a href="@Url.Action("MyTickets", "Home")"><i class="fas fa-ticket-alt"></i><li>@GlobalRes.myTicket</li></a>
                <a href="@Url.Action("MyDeclarations", "Home")"><i class="fas fa-ticket-alt"></i><li>@GlobalRes.myDeclaration</li></a>
                <a href="@Url.Action("Index", "Account")"><i class="fas fa-user"></i><li>@GlobalRes.myAccount</li></a>
                @if (ViewBag.Admin)
                {
                    <a href="@Url.Action("Admin", "Home")"><i class="fas fa-sign-out-alt"></i><li>@GlobalRes.administration</li></a>
                }
                <a href="@Url.Action("SignOut", "Home")"><i class="fas fa-sign-out-alt"></i><li>@GlobalRes.signOut</li></a>
            </ul>
        </div>
    </header>
    <div class="ticket">
        <div class="left-panel">
            <div class="informations">
                <h2>@ViewBag.Ticket.Reference</h2>
                <table border="1" class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">@GlobalRes.supervisor</th>
                            <th scope="col">@GlobalRes.declarant</th>
                            <th scope="col">@GlobalRes.typeIncident</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @foreach (var p in ViewBag.Ticket.Supervisor)
                                {
                                    @p.first_name
                                }
                            </td>
                            <td>@ViewBag.Ticket.Declarant</td>
                            <td>@ViewBag.Ticket.Type</td>
                        </tr>
                    </tbody>
                </table>
                <table border="1" class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">@GlobalRes.area</th>
                            <th scope="col">@GlobalRes.engine</th>
                            <th scope="col">@GlobalRes.date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@ViewBag.Ticket.Area</td>
                            <td>@ViewBag.Ticket.Engine</td>
                            <td>@ViewBag.Ticket.Date</td>
                        </tr>
                    </tbody>
                </table>
                @foreach (var i in ViewBag.Ticket.Image)
                {
                    <img src="@i.name" data-toggle="modal" data-target="#modal-@i.id_document" />
                    <div class="modal fade" id="modal-@i.id_document" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="@i.name" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (ViewBag.Authorize)
            {
                if (ViewBag.Close)
                {
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-sm-10">
                                @using (Html.BeginForm("CloseTicket", "Ticket", FormMethod.Post))
                                {
                                    <button type="submit" class="btn btn-dark add">Fermer le ticket</button>
                                }
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-sm-10">
                                @using (Html.BeginForm("OpenTicket", "Ticket", FormMethod.Post))
                                {
                                    <button type="submit" class="btn btn-dark add">Réouvrir le ticket</button>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="right-panel">
            <div class="list-comment">
                <h2>@GlobalRes.comments</h2>
                <nav>
                    <ul class="list-group">
                        @foreach (var x in ViewBag.Task)
                        {
                            <li class="list-group-item">
                                @x.CreateDate @x.PersonComment.last_name
                                <br />
                                @x.Comment
                            </li>
                        }
                    </ul>
                </nav>
            </div>
            @if (ViewBag.Close)
            {
                <div class="add-comment">
                    @using (Html.BeginForm("AddComment", "Ticket", FormMethod.Post))
                    {

                        <div>

                            @Html.TextAreaFor(t => t.comment, new { Class = "CommentForm", placeholder = GlobalRes.comments })

                        </div>

                        <button type="submit" class="btn btn-outline-dark btn-block">@GlobalRes.addComment</button>

                    }
                </div>
            }
        </div>
    </div>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            alert("@Html.Raw(ViewBag.Message)");
        </script>
    }
</body>
</html>
