
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/Styles/header.css")
    @Styles.Render("~/Content/Styles/ticket.css")
    <script>
        $(document).ready(function () {
            $(window).on('resize', function () {
                var windowHeight = $(window).height() - $('header').height();
                var informationsHeight = windowHeight * 0.70;
                var commentsHeight = windowHeight * 0.30 - 1;
                $('.ticket').css({ 'height': windowHeight });
                $('.informations').css({ 'height': informationsHeight });
                $('.comments').css({ 'height': commentsHeight });
                $('.left-panel').css({ 'border-right': '1px solid black' });
                $('.comments').css({ 'border-top': '1px solid black' });
            }).resize();

            $('.button-menu img').click(function () {
                if ($('.menu').css('display') == 'none') {
                    $('.menu').css({ 'display': 'flex' });
                    $('.button-menu img').css({ 'transform': 'rotate(-90deg)' });
                } else {
                    $('.menu').css({ 'display': 'none' });
                    $('.button-menu img').css({ 'transform': 'rotate(0deg)' });
                }
            });
        });
    </script>
</head>
<body>
    <header>
        <div class="logo"><img src="../Content/Images/Logo.png" /></div>
        <div><h1>Menicon Helper</h1></div>
        <div class="button-menu"><img src="../Content/Images/Menu.png" /></div>
        <div class="menu">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li>Mes tickets</li>
                <li>Mon compte</li>
                <li>Déconnexion</li>
            </ul>
        </div>
    </header>
    <div class="ticket">
        <div class="left-panel">
            <div class="informations">
                <h2>@ViewBag.Ticket.Reference</h2>
                <table border="1">
                    <thead>
                        <tr>
                            <th>Superviseur</th>
                            <th>Déclarant</th>
                            <th>Type d'incident</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@ViewBag.Ticket.Supervisor</td>
                            <td>@ViewBag.Ticket.Declarant</td>
                            <td>@ViewBag.Ticket.Type</td>
                        </tr>
                    </tbody>
                </table>
                <table border="1">
                    <thead>
                        <tr>
                            <th>Ligne</th>
                            <th>Machine</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@ViewBag.Ticket.Area</td>
                            <td>@ViewBag.Ticket.Engine</td>
                            <td>@ViewBag.Ticket.Date</td>
                        </tr>
                    </tbody>
                </table>
                <img src="@ViewBag.Ticket.Image[0]" />
            </div>
        </div>
        <div class="right-panel">
            <h2>@GlobalRes.comments</h2>
            <ul>
                @foreach (var x in ViewBag.Task)
                {
                    <li>@x.Comment</li>
                }
            </ul>
        </div>
    </div>
</body>
</html>
