@model MeniconHelper.incident
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/Styles/home.css")
    <script>
        $(document).ready(function () {
            $('.button-menu img').click(function () {
                if ($('.menu').css('display') == 'none') {
                    $('.menu').css({ 'display': 'flex' });
                    $('.button-menu img').css({ 'transform': 'rotate(-90deg)' });
                } else {
                    $('.menu').css({ 'display': 'none' });
                    $('.button-menu img').css({ 'transform': 'rotate(0deg)' });
                }
            });
        });
    </script>
</head>
<body>
    <header>
        <div class="logo"><img src="../Content/Images/Logo.png" /></div>
        <div class="title"><h1>Menicon Helper</h1></div>
        <div class="button-menu"><img src="../Content/Images/Menu.png" /></div>
        <div class="menu">
            <ul>
                <li>Home</li>
                <li>Mes tickets</li>
                <li>Mon compte</li>
                <li>Déconnexion</li>
            </ul>
        </div>
    </header>
    <div> 
        <table border="1">
            <thead>
                <tr>
                    <th>Référence</th>
                    <th>Photo</th>
                    <th>Description</th>
                    <th>Superviseur</th>
                    <th>Date</th>
                    <th>Déclarant</th>
                    <th>Type</th>
                    <th>Ligne</th>
                    <th>Machine</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in ViewBag.Incident)
                {
                <tr>
                    <td class="reference">
                    @using (Html.BeginForm("Select", "Home", FormMethod.Post))
                    {
                        
                        <button type="submit">@x.Reference</button>
                    }
                    </td>
                    <td class="image"><img src="@x.Image" /></td>
                    <td class="description">@x.Description</td>
                    <td class="supervisor">@x.Supervisor</td>
                    <td class="date">@x.Date</td>
                    <td class="declarant">@x.Declarant</td>
                    <td class="type">@x.Type</td>
                    <td class="area">@x.Area</td>
                    <td class="engine">@x.Engine</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
