@model MeniconHelper.incident
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="../Content/Javascript/jquery.tablesorter.js"></script>
    <script src="../Content/Javascript/jquery.tablesorter.widgets.js"></script>
    <script src="../Content/Javascript/jquery.tablesorter.pager.js"></script>
    <script src="../Content/Javascript/widget-scroller.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    @Styles.Render("~/Content/Styles/header.css")
    @Styles.Render("~/Content/Styles/home.css")
    <script>
        $(document).ready(function () {
            $('.button-menu img').click(function () {
                if ($('.menu').css('display') == 'none') {
                    $('.menu').css({ 'display': 'flex' });
                    $('.button-menu img').css({ 'transform': 'rotate(-90deg)' });
                } else {
                    $('.menu').css({ 'display': 'none' });
                    $('.button-menu img').css({ 'transform': 'rotate(0deg)' });
                }
            });
            $(document).click(function (e) {
                if ($('.menu').css('display') == 'flex' && $(e.target).closest('.button-menu').length === 0 && $(e.target).closest('.menu').length === 0) {
                    $('.menu').css({ 'display': 'none' });
                    $('.button-menu img').css({ 'transform': 'rotate(0deg)' });
                }
            });
            var pagerOptions = {
                container: $(".pager"),
                page: 0,
                size: 10,
                pageReset: 0,
                cssNext: '.next',
                cssPrev: '.prev',
                cssFirst: '.first',
                cssLast: '.last',
                output: '{startRow} de {endRow} ({totalRows})'
            };
            $('.tablesorter').tablesorter({
                theme: 'blue',
                widgets: ["zebra", "filter", "pager"],
                ignoreCase: false
            }).tablesorterPager(pagerOptions);
        });
    </script>
</head>
<body>
    <header>
        <div class="logo"><img src="../Content/Images/Logo.png" /></div>
        <div class="title"><h1>Menicon Helper</h1></div>
        <div class="button-menu"><img src="../Content/Images/Menu.png" /></div>
        <div class="menu">
            <ul>
                <a href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i><li>@GlobalRes.home</li></a>
                <a href="@Url.Action("MyTickets", "Home")"><i class="fas fa-ticket-alt"></i><li>@GlobalRes.myTicket</li></a>
                <a href="@Url.Action("MyDeclarations", "Home")"><i class="fas fa-ticket-alt"></i><li>@GlobalRes.myDeclaration</li></a>
                <a href="@Url.Action("Index", "Account")"><i class="fas fa-user"></i><li>@GlobalRes.myAccount</li></a>
                @if (ViewBag.Admin)
                {
                    <a href="@Url.Action("Admin", "Home")"><i class="fas fa-sign-out-alt"></i><li>@GlobalRes.administration</li></a>
                }
                <a href="@Url.Action("SignOut", "Home")"><i class="fas fa-sign-out-alt"></i><li>@GlobalRes.signOut</li></a>
            </ul>
        </div>
    </header>
    <div class="table-container">
        <table border="1" class="tablesorter table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="filter-match">@GlobalRes.reference</th>
                    <th scope="col" class="filter-false">@GlobalRes.picture</th>
                    <th scope="col" class="filter-false">@GlobalRes.description</th>
                    <th scope="col" class="filter-match">@GlobalRes.supervisor</th>
                    <th scope="col" class="filter-false">@GlobalRes.date</th>
                    <th scope="col" class="filter-match">@GlobalRes.declarant</th>
                    <th scope="col" class="filter-match">@GlobalRes.category</th>
                    <th scope="col" class="filter-match">@GlobalRes.status</th>
                    <th scope="col" class="filter-match">@GlobalRes.area</th>
                    <th scope="col" class="filter-match">@GlobalRes.engine</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in ViewBag.SuperviseIncident)
                {
                <tr>
                    <td class="reference">
                        <a href="@Url.Action("Select", "Home", new { reference = x.Reference })">@x.Reference</a>
                    </td>
                    <td class="image"><img src="@x.Image[0].name" /></td>
                    <td class="description">@x.Description</td>
                    <td class="supervisor">
                        @foreach (var y in x.Supervisor)
                        {
                            <div>@y.first_name @y.last_name</div>
                        }
                    </td>
                    <td class="date">@x.Date</td>
                    <td class="declarant">@x.Declarant</td>
                    <td class="type">@x.Type</td>
                    <td class="type">@x.Status</td>
                    <td class="area">@x.Area</td>
                    <td class="engine">@x.Engine</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="pager" class="pager">
        <form>
            <i class="fas fa-fast-backward first"></i>
            <i class="fas fa-step-backward prev"></i>
            <span class="pagedisplay" data-pager-output-filtered="{startRow:input} &ndash; {endRow} / {filteredRows} of {totalRows} total rows"></span>
            <i class="fas fa-step-forward next"></i>
            <i class="fas fa-fast-forward last"></i>
            <select class="pagesize form-control-sm">
                <option selected="selected" value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
            </select>
        </form>
    </div>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            alert("@Html.Raw(ViewBag.Message)");
        </script>
    }
</body>
</html>
