@model MeniconHelper.person

<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/Content/login.css")

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="http://tristanedwards.me/u/SweetAlert//lib/sweet-alert.css">

    <script src="http://tristanedwards.me/u/SweetAlert//lib/sweet-alert.js"></script>

</head>

<body>

    @using (Html.BeginForm("Verify", "Login", FormMethod.Post))
    {
        <div class="container">

            <div class="row login-form">
                <div class="col-sm-3">
                </div>

                <div class="col-sm-6">

                    <div id="space"></div>

                    <div class="form-group">

                        @Html.TextBoxFor(p => p.username, new { Class = "LoginForm", placeholder = GlobalRes.username })


                    </div>

                    <div class="form-group">

                        @Html.TextBoxFor(p => p.password_default, new { Class = "LoginForm", placeholder = GlobalRes.password, Type = "Password" })

                    </div>

                    <button type="submit" class="btn btn-outline-success btn-block">@GlobalRes.connection</button>


                </div>

                <div class="col-sm-3">



                </div>

            </div>

        </div>
    }

    <div class="wrapper panel panel-primary">
        <div class="panel-heading">Sweet Alert Demonstration</div>
        <div class="panel-body">
            <p>It makes sweet alerts!</p>
            <p>Default icons got a little goofy, but whatever....</p>
            <p>
                <button id="test-1" class="btn btn-info btn-lg">Basic</button>
                <button id="test-2" class="btn btn-success btn-lg">Success</button>
                <button id="test-3" class="btn btn-primary btn-lg">Fancy</button>
                <button id="test-4" class="btn btn-danger btn-lg">Error</button>
            <p><a class="btn btn-link" href="http://www.mitechdev.com" target="blank">http://www.mitechdev.com</a>

            <p>&nbsp;</p>
        </div>
    </div>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
             document.querySelector('#test-1').onclick = function () {
        swal("Here's a message!");
    };
    document.querySelector('#test-2').onclick = function () {
        swal("Good job!", "You clicked the button!", "success")
    };
    document.querySelector('button#test-3').onclick = function () {
        swal({
            title: "Are you sure?",
            text: "Your will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true, confirmButtonColor: "#DD6B55", confirmButtonText: "Yes, delete it!"
        });
    };
    document.querySelector('button#test-4').onclick = function () {
        swal("Oops...", "Something went wrong!", "error");
    }; 
            alert("@Html.Raw(ViewBag.Message)");
        </script>
    }

</body>

</html>
